.infotag{
  width : 200px;
  height : 200px;
  border : 1px;
  border-style:solid;
  margin : 5px 5px 5px 5px;
  display : inline-block;
  overflow:hidden;
  vertical-align : top;
  /*overflow-y:auto;*/
}
.infotag:hover{
  opacity: .8;
  min-height: 200px;
  width:300px;
  height : auto;
}

.infotag div{
  margin : 10px 10px 10px 10px;
  font-size:14px;

}

.infotag label{
  font-size:18px;
  color:#0020FF;
}

.infotag-date{
  font-size:12px;
  color:#0030FF;
}
