.infotag{
  width : 200px;
  height : 200px;
  border : 1px;
  border-style:solid;
  margin : 5px 5px 5px 5px;
  display : inline-table;
}

.infotag div{
  margin : 10px 10px 10px 10px;
  font-size:14px;
}

.infotag label{
  font-size:18px;
  color:#0020FF;
}
