@keyframes slidein {
  from {
    /*padding-left: 100%;
    width: 300%;*/
    width:200px;
    height : 200px;
    background-color: white;
  }

  to {
    /*padding-left: 0%;
    width: 100%;*/
    width:300px;
    height : auto;
    background-color: #DDDDDD;
  }
}

.infotag{
  width : 200px;
  height : 200px;
  border : 1px;
  border-style:solid;
  margin : 5px 5px 5px 5px;
  display : inline-block;
  overflow:hidden;
  vertical-align : top;
  /*overflow-y:auto;*/
}
.infotag:hover{
  opacity: .8;
  min-height: 200px;
  width:300px;
  height : auto;
  animation-duration: 1.5s;
  animation-name: slidein;
  background-color: #DDDDDD;
}

.infotag div{
  margin : 10px 10px 10px 10px;
  font-size:14px;

}

.infotag label{
  background-image:url(../images/ic_camera_roll_black_24dp.png);
  background-repeat: no-repeat;
  -moz-background-size:contain;        /*for Firefox*/
  -webkit-background-size:contain;        /*for Google Chrome、Safari*/
  -o-background-size:contain;        /*for Opera*/
  background-size:contain;        /*for IE*/
  font-size:18px;
  color:#0020FF;
  padding-left:25px;
}

.infotag-date{
  font-size:12px;
  color:#0030FF;
}

@media only screen and (max-width: 768px) {
  @keyframes slidein {
    from {
      /*padding-left: 100%;
      width: 300%;*/
      width:150px;
      height : 150px;
      background-color: white;
    }

    to {
      /*padding-left: 0%;
      width: 100%;*/
      width:300px;
      height : auto;
      background-color: #DDDDDD;
    }
  }

  .infotag{
    width : 150px;
    height : 150px;
    border : 1px;
    border-style:solid;
    margin : 5px 5px 5px 5px;
    display : inline-block;
    overflow:hidden;
    vertical-align : top;
    /*overflow-y:auto;*/
  }
  .infotag:hover{
    opacity: .8;
    min-height: 150px;
    width:300px;
    height : auto;
    animation-duration: 1.5s;
    animation-name: slidein;
    background-color: #DDDDDD;
  }
  .infotag div{
    margin : 10px 10px 10px 10px;
    font-size:10px;

  }
  .infotag label{
    background-image:url(../images/ic_camera_roll_black_24dp.png);
    background-repeat: no-repeat;
    -moz-background-size:contain;        /*for Firefox*/
    -webkit-background-size:contain;        /*for Google Chrome、Safari*/
    -o-background-size:contain;        /*for Opera*/
    background-size:contain;        /*for IE*/
    font-size:14px;
    color:#0020FF;
    padding-left:35px;
  }

  .infotag-date{
    font-size:8px;
    color:#0030FF;
  }
}
